body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
h1{
	font-family: Verdana, sans-serif;
	font-size:50px;
}
h2{
	font-size:16px;
}
h3{
	color: gray;
	font-size:21px;
	font-weight: normal;
}
.cta{
	color: rgb(149, 249, 200);
}
.footer{
	text-align:right;
	color: gray;
}